*.o
*.so
core
test
*.a
__Tag_List__
cscope.*
tags
*.out
*.lo
*.swp
vserver
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
vsserver
gbsppt
*.log
*.obj
*.tar
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.user
si
Debug
.vs
doxygen
*.pc
*.suo
*.db
*.tlog
*.sdf
40-protocol/gb28181client/prj_win/temp/
50-client/MT_UI/Release/
*.ipch
*.opendb
*.bak
