<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalParam.ip" value="10.10.10.102"/>
    <add key="LocalParam.port" value="5060"/>
    <add key="LocalParam.sip_id" value="42010000002000000088"/>
    <add key="LocalParam.domain_id" value="4201000"/>
    <add key="LocalParam.session_linger_time" value="60000"/>
    <add key="ServParam.server_ip" value="10.10.10.105"/>
    <add key="ServParam.server_sip_id" value="42010000002000000012"/>
    <add key="ServParam.server_domain_id" value="4201000"/>
    <add key="ServParam.passwd" value="123456"/>
    <add key="ServParam.server_port" value="5061"/>
    <add key="ServParam.keep_interval" value="60000"/>
    <add key="ServParam.keep_max_cnt" value="5"/>
  </appSettings>
</configuration>